* {
	font-family: arial;
	font-size: 13px;
	padding: 10px;
	margin: 0px;
	color: white;
}
body {
		background-color: #bbbbb8;
}

h1 {
	background-color: #dfdfdd;
	padding: 20px;
	color: #595a50;
	font-size: 30px;
	font-style: bold;
	margin: 10px 0px 10px 0px;
}
span {
	font-size: 30px;
}
#m14 {
	background-color: #367bad;
}
#m13 {
	background-color: #3488b7;
}
#m12 {
	background-color: #2d94c0;
}
#m11 {
	background-color: #43a0c8;
}
#m10 {
	background-color: #5caecf;
}
#m9 {
	background-color: #73bbd8;
}
#m8 {
	background-color: #8cc5de;
}
#m7 {
	background-color: #00ac83;
}
#m6 {
	background-color: #ecabc2;
}
#m5 {
	background-color: #eb98b5;
}
#m4 {
	background-color: #ea85a6;
}
#m3 {
	background-color: #e77398;
}
#m2 {
	background-color: #e5638b;
}
#m1 {
	background-color: #e3547f;
}
#m0 {
	background-color: #df3974;
}
